<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Sheel is currently a graduate student pursuing a M.S. degree in Business Analytics at UC Davis. He did his undergraduate studies from Penn State University and secured a B.S. degree in Energy Engineering. He has about a year's experience of doing analytics work in the field of Consulting. He possesses skills in languages like R, SQL and Python and softwares like Tableau and Power BI.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
